### Logs Directory ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Compile Directory ###
/dist/

### Test Directory ###
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

### Dependency Directory ###
node_modules/

### IDE or Text Editor Directory ###
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

### macOS Directory ### 
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes